.icon {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    display: block;
    background-size: contain!important;
}

.icon-28{
    height: 28px;
    width: 28px;
    display: block;
    background-size: contain!important;
    cursor: pointer;
}

.icon-20{
    height: 20px;
    width: 20px;
    display: block;
    background-size: contain!important;
    cursor: pointer;
}

.icon-16{
    height: 16px;
    width: 16px;
    display: block;
    background-size: contain!important;
    cursor: pointer;
}

.icon-12{
    height: 12px;
    min-height: 12px;
    width: 12px;
    min-width: 12px;
    display: block;
    background-size: contain!important;
    cursor: pointer;
}

.icon-14{
    height: 14px;
    min-height: 14px;
    width: 14px;
    min-width: 14px;
    display: block;
    background-size: contain!important;
    cursor: pointer;
}

.icon-menu {
    background: url(./assets/menu-outline.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}

.icon-profile {
    background: url(./assets/profile.svg);
    background-repeat: no-repeat;
}

.icon-search {
    background: url(./assets/search-outline.svg);
    background-repeat: no-repeat;
}

.icon-square-pen {
    background: url(./assets/square_pen.svg);
    background-repeat: no-repeat;
}